ipython==8.4.0
numpy>=1.21.0
pandas==1.4.3
pyLDAvis==3.3.1
scikit_learn==1.1.1
matplotlib==3.5.2
spacyfishing==0.1.5
gensim==4.2.0
protobuf==4.21.2
scipy==1.6.2
spacy==3.3.1
transformers==4.20.1
lxml==4.9.1
